{% extends "base.html" %}
{% load staticfiles %}
{% block body %}
    <div class="padding-left-15">
        <h1>Project: {{ project }}</h1>
        <button type="button" class="btn btn-primary button-link" align='center'><a class="btn-primary" href="{% url 'hakuna_matata:projects' %}">Go Back</a></button>
    </div>



    {# Usecases Section Begins #}
    <div class="panel-body row">
        <div class="padding-left-15">
            <h4>Usecases</h4>
        </div>
        <div class="col-md-12">
            <input type='hidden' value="{{ url }}" id="id_url_hidden_input">
            {% if has_usecases %}
                <table class="table usecase-table">
                    <thead>
                        <tr>
                            <th>
                                <input class="select-all-usecases-ck" type="checkbox" name="select_all_usecases_ck" id="id_select_all_usecases_ck">
                                <label for="id_select_all_usecases_ck">All</label>
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for usecase in usecases %}
                            <tr>
                                <td>
                                    <input class="usecase-ck" type="checkbox">
                                    <label><a href="{% url 'hakuna_matata:actions' project_id usecase.id %}"> {{ usecase.use_case_name }}</a></label>
                                </td>
                                <td class="width-20">
                                    <button type="button" class="btn btn-primary button-link" align='center'><a class="btn-primary individual_uc" href="{{ url }}?usecase_id={{ usecase.id }}" target='_blank'>Run</a></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="misc-options margin-bottom-15">
                    <div class="execution-type ul-li-styles">
                        <label for="id_uc_execution_type">Select the execution type.</label>
                        <ul id="id_uc_execution_type">
                            <li>
                                <label for="id_uc_execution_type_0"><input type="radio" name="uc_execution_type" value="Sequential" id="id_uc_execution_type_0"> Sequential</label>
                            </li>
                            <li>
                                <label for="id_uc_execution_type_1"><input type="radio" name="uc_execution_type" value="Parallel" id="id_uc_execution_type_1"> Parallel</label>
                            </li>
                        </ul>
                    </div>

                    <div class="browser selectbox">
                        <label for="id_browser_usecases">Select the browser in which the usecases need to be run.</label>
                        <br />
                        <select name="browser" id="id_browser_usecases">
                            <option value="chrome">Chrome</option>
                            <option value="ie">IE</option>
                            <option value="firefox">Firefox</option>
                        </select>
                    </div>
                </div>
                <button type="button" class="btn btn-primary button-link" align='center'><a class="btn-primary" id="id_run_multiple_ucs" href="#" target='_blank'>Run Selected Usecases</a></button>

                <button type="button" id="id_delete_usecase_btn" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal">Delete Selected Usecases</button>
                {# Model Begins #}
                <div id="deleteModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-body align-center">
                                <p id="remove-product-text">Do you want to delete selected Usecases?</p>
                            </div>
                            <div class="modal-footer align-center">
                                <form action="{% url 'hakuna_matata:delete_usecases' project_id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" id= "id_deleted_usecases" name="deleted_usecases" value="">
                                    <button type="submit" class="btn footer-filled-btn">Yes</button>
                                    <button type="cancel" class="btn IR-status-btn" data-dismiss="modal">No</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {# Model Ends #}
            {% else %}
                <h4>No Usecases to display.</h4>
            {% endif %}

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#usecaseModal">Add Usecases</button>
            {# Model Begins #}
            <div class="modal fade" id="usecaseModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Usecase</h4>
                            <br />
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'hakuna_matata:add_usecases' project_id %}" method="POST">
                                {% csrf_token %}

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Usecase Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="inputbox">{{ usecase_form.use_case_name }}</td>
                                            <td class="textarea">{{ usecase_form.use_case_description }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="submit" class="btn btn-default">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {# Model Ends #}

        </div>
    </div>
    {# Usecases Section Ends #}

    <hr>

    {# Jobs Section Begins #}
    <div class="panel-body row">
        <div class="padding-left-15">
            <h4>Jobs</h4>
        </div>

        <div class="col-md-12">
            {% if has_jobs %}
                <table class="table job-table">
                    <thead>
                        <tr>
                            <th>Jobs</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                            <tr>
                                <td>
                                    <label><a href="{% url 'hakuna_matata:job' project_id job.id %}"> {{ job.name }}</a></label>
                                </td>
                                <td class="width-20">
                                    <button type="button" class="btn btn-primary button-link" align='center'><a class="btn-primary" href="{{ url }}?job_id={{ job.id }}" target='_blank'>Run</a></button>
                                </td>
                                <td>
                                    <button type="button" id="id_delete_project_btn" class="btn fa-delete-button" data-toggle="modal" data-target="#deleteJobModal"><i class="fa fa-trash font-size-25" aria-hidden="true"></i></button>
                                    {# Model Begins #}
                                    <div id="deleteJobModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-body align-center">
                                                    <p id="remove-product-text">Do you want to delete selected Usecases?</p>
                                                </div>
                                                <div class="modal-footer align-center">
                                                    <form action="{% url 'hakuna_matata:delete_job' project_id job.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" id= "id_deleted_usecases" name="deleted_usecases" value="">
                                                        <button type="submit" class="btn footer-filled-btn">Yes</button>
                                                        <button type="cancel" class="btn IR-status-btn" data-dismiss="modal">No</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {# Model Ends #}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="misc-options margin-bottom-15">
                    <div class="execution-type ul-li-styles">
                        <label for="id_job_execution_type">Select the execution type.</label>
                        <ul id="id_execution_type">
                            <li>
                                <label for="id_job_execution_type_0"><input type="radio" name="job_execution_type" value="Sequential" id="id_job_execution_type_0"> Sequential</label>
                            </li>
                            <li>
                                <label for="id_job_execution_type_1"><input type="radio" name="job_execution_type" value="Parallel" id="id_job_execution_type_1"> Parallel</label>
                            </li>
                        </ul>
                    </div>

                    <div class="browser selectbox">
                        <label for="id_browser_jobs">Select the browser in which the jobs need to be run.</label>
                        <br />
                        <select name="browser" id="id_browser_jobs">
                            <option value="chrome">Chrome</option>
                            <option value="ie">IE</option>
                            <option value="firefox">Firefox</option>
                        </select>
                    </div>
                </div>
            {% else %}
                <h4>No Jobs to display.</h4>
            {% endif %}

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#jobsModal">Add Jobs</button>
            {# Model Begins #}
            <div class="modal fade" id="jobsModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Job</h4>
                            <br />
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'hakuna_matata:add_jobs' project_id %}" method="POST">
                                {% csrf_token %}
                                <div class="inputbox">
                                    {{ jobs_form.as_p }}
                                </div>
                                <button type="submit" class="btn btn-default">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {# Model Ends #}
        </div>
    </div>
    {# Jobs Section Ends #}
{% endblock body %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
{% endblock js %}
