body {
    background-color: #FFFFFF;
}

#delete-button {
    position: relative;
    left: 50px;
    bottom: -4px;
    display: inline;
}

.navbar-brand {
    position: relative;
    bottom: -15px;
}
textarea {
    height: 5vw;
    border-radius: 3px;
}