html, body
{
    height: 100%;
}
.frame
{
    padding-top: 100px;
}
.font-size-25
{
    font-size: 25px !important;
}
.project
{
    padding-top: 5%;
}
.use_case
{
    padding-top: 2%;
    padding-left: 9%;
}
.padding-left-15
{
    padding-left: 15px;
}
.padding-top-15
{
    padding-top: 15px;
}
.padding-bottom-15
{
    padding-top: 15px;
}
.container
{
    margin: 0 auto;
    height: 100%;
}
.main-heading
{
    text-align: center;
}
