html, body {
    height: 100%;
}

body {
    background-color: #FFFFFF;
}

.navbar-brand {
    position: relative;
    bottom: -15px;
}

.frame {
    padding-top: 100px;
}

.font-size-25 {
    font-size: 25px !important;
}

.project {
    padding-top: 5%;
}

.use_case {
    padding-top: 2%;
    padding-left: 9%;
}

.padding-left-15 {
    padding-left: 15px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-bottom-15 {
    padding-bottom: 15px;
}

#id_delete_project_btn {
    padding-bottom: 10px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.container {
    margin: 0 auto;
    height: 100%;
}

.main-heading {
    text-align: center;
}

#delete-button {
    position: relative;
    left: 50px;
    bottom: -4px;
    display: inline;
}

.inputbox input[type="text"],
.inputbox > div > input[type="text"],
.selectbox > select,
.selectbox > div > select {
    height: 40px;
    width: 250px;
    border:1px solid #979797;
    border-radius: 5px;
    font-size:13px;
    color:#333;
    padding-left: 10px;
    outline: none;
}

.selectbox > select,
.selectbox > div > select {
    width: 200px;
}

.custom-inputbox > input {
    width: 150px !important;
}

.seq-inputbox > input {
    width: 50px !important;
    border: none !important;
}

.textarea textarea{
    height: 5vw;
    width: 250px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #979797;
    padding: 10px;
}

a:hover, a:visited, a:focus {
    text-decoration: none;
}

.button-link {
    padding: 0;
}
.button-link a {
    display: block;
    padding: 6px 12px;
}
.ul-li-styles > ul {
    padding-left: 0px;
}

.ul-li-styles > ul > li {
    display: inline;
    padding-right: 15px;
}

.ul-li-styles > ul > li > label{
    font-weight: normal;
}

.usecase-table, .job-table {
    width: 60%;
}

.width-20 {
    width: 20%;
}

.fa-button-css {
    padding: 0;
    color: #337ab7;
    background: transparent;
    outline: none !important;
    border: none;
}

.fa-button-css:hover, .fa-button-css:focus {
    color: #286090;
    outline: none !important;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
