{% extends "base.html" %}
{% block body %}
<div class="container">
      <div class="row">
        {% if test_cases %}
           <div class="col-sm-6">
             <h2>Availble Test Cases</h2><br />
             <table class="table">
                  <thead>
                    <tr>
                      <th>Test Case Name</th>
                      <th>Reports</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for test_case in test_cases %}
                    <tr>
                        <td>{{test_case.use_case_name}}</a></td>
                        <td><a href="{% url 'hakuna_matata:report' test_case.id %}">View Report</a>
                        </td>
                    </tr>
                  {% endfor %}
                  </tbody>
              </table>
           </div>
        {% else %}
          <div class="col-sm-6">
            <h2>Sorry!!! , No Reports</h2>
          </div>
        {% endif %}
      </div>
</div>
{% endblock body %}
